### Java ###
target/
*.class
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

### Node ###
node_modules/
yu-ai-agent-frontend/node_modules/
yu-ai-agent-frontend/dist/

### IDE ###
.idea/
*.iml
*.iws
*.ipr
.vscode/
.settings/
.classpath
.project
.springBeans
.sts4-cache

### OS ###
.DS_Store
Thumbs.db

### Project ###
tmp/
src/main/resources/chunk/
*.log
hs_err_pid*
replay_pid*
application-local.yml

### Maven wrapper ###
!.mvn/wrapper/maven-wrapper.jar
